@font-face {
  font-family: 'Livvic-medium';
  src: url('../src/components/img/Fonts/Livvic-Medium.ttf');
}
@font-face {
  font-family: 'Livvic-title';
  src: url('../src/components/img/Fonts/Livvic-Bold.ttf');
}


body{
font-family:Livvic-medium;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}